 {{#each this}}

        <li class="menu__item"> 
           <a href="#">
             <article class="card">
             <picture>
                                <source srcset="{{sourseWP}}"
                                    type="image/webp" media="(min-width: 1200px)">
                                <source srcset="{{sourseJPG}} " 
                                    media="(min-width: 1200px)">
                                <img
                                    src={{image}}
                                    alt="{{imageName}}"
                                    class="card__image"
                                    />
            </picture>

                 <div class="card__content"> 
                        <h3 class="card__name">{{name}}</h3>
                        <p class="card__description">{{description}} </p>

                            <ul class="card__detail list">
                                        <li><strong>Длительность курса</strong>: {{quantityLesson}} занятий</li>
                                        <li><strong>Частота</strong>: {{frequency}} раза в неделю </li>
                                        <li><strong>Длительность урока</strong>: {{duration}} часа </li>

                                    <p>{{newPrice}} грн<span>{{oldPrice}} грн</span></p>
                </ul>
              </div>
              
                                    <button class = "main-button">Записаться</button>
                                    <button class = "main-button">Подробнее</button>
            </article>
        </a>
        </li>
      {{/each}}